spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  error:
    include-message: always
    include-stacktrace: on_param

# Development-specific settings
# For local development, you can override defaults
